{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Answer'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Answer'|trans }}</h1>

    {% if limit %}
        <div class="timer" data-limit="{{ limit }}"></div>
    {% endif %}

    {{ 'Question: '|trans }}{{ answer.getQuestion().getContent() }}

    {{ include('answer/_form.html.twig', {
        'action': 'edit',
        'entity': answer,
    }) }}

{% endblock %}
