{% extends 'base.html.twig' %}

{% block title %}{{ 'Answer index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Answer index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ '№'|trans }}</th>
                <th>{{ 'Sql_text'|trans }}</th>
                <th>{{ 'Start'|trans }}</th>
                <th>{{ 'End'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for key, answer in answers %}
            <tr>
                <td>{{ (key + 1) }}</td>
                <td>
                    <p>{{ answer.sqlText }}</p>
                    <hr/>
                    <div style="color: #999">
                        <div>{{ 'Answer ID'|trans }}: {{ answer.id }}</div>
                        <div>{{ 'Exam'|trans }}: {{ answer.examinationSheet.exam.description }}</div>
                        <div>{{ answer.examinationSheet.student.email }}</div>
                    </div>
                </td>
                <td>{{ answer.start ? answer.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ answer.end ? answer.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {{ include('components/_actions.html.twig', {
                        'action': 'list',
                        'entity': answer,
                        'entityName': 'answer'
                    }) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
