{% extends 'base.html.twig' %}

{% block title %}{{ 'Answer'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Answer'|trans }}</h1>

    {% if limit %}
        <div class="timer" data-limit="{{ limit }}"></div>
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Id'| trans }}</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Question'| trans }}</th>
                <td>{{ answer.getQuestion().getContent() }}</td>
            </tr>
            <tr>
                <th>{{ 'Sql_text'| trans }}</th>
                <td>{{ answer.sqlText }}</td>
            </tr>
            <tr>
                <th>{{ 'Result table'| trans }}</th>
                <td>
                    {% if answer.resultTable %}
                    <table>
                        <caption>{{ 'Result'| trans }}</caption>
                        <thead>
                            <tr>
                                {% for key in answer.resultTable[0]|keys %}
                                <th>{{ key }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in answer.resultTable %}
                                <tr>
                                    {% for value in row %}
                                    <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'Result error'| trans }}</th>
                <th>Ошибка</th>
                <td>{{ answer.resultError }}</td>
            </tr>
            <tr>
                <th>{{ 'Start'| trans }}</th>
                <th>Начало ответ</th>
                <td>{{ answer.start ? answer.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'End'| trans }}</th>
                <th>Ответ дан</th>
                <td>{{ answer.end ? answer.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_answer_new', {'answer': answer.getId()}) }}" class="button">{{ ''}}Повторить попытку</a>
    {% if nextQuestion %}
        <a href="{{ path('app_answer_new', {'sheet': answer.getExaminationSheet().getId(), 'question': nextQuestion.getId()}) }}" class="button">Следующий вопрос</a>
        {% else %}
            <a href="{{ path('app_examination_sheet_show', {'id': answer.getExaminationSheet().getId()}) }}" class="button">Финал</a>
    {% endif %}
{% endblock %}
