{% extends 'admin.html.twig' %}

{% block title %}{{ 'User index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'User index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Roles'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    {{ include('admin/components/_actions.html.twig', {
                        'action': 'list',
                        'entity': user,
                        'entityName': 'user'
                    }) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">{{ 'Create new'|trans }}</a>
{% endblock %}
