{% extends 'base.html.twig' %}

{% block title %}{{ 'Log in!'|trans }}{% endblock %}

{% block body %}
    {% if app.user %}
    <h1 class="h2">{{ 'Welcome!'|trans }}</h1>
    <div>
        {% set logoutLink = '<a href="' ~ path('app_logout') ~ '">' ~ 'logout'|trans ~ '</a>' %}
        {{ 'You are logged in as %name%, %logout%'|trans({
            '%name%': app.user.email,
            '%logout%': logoutLink
        })|raw }}
    </div>
    {% else %}
    <h1 class="h2">{{ 'Please sign in'|trans }}</h1>

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <label for="inputEmail">{{ 'Email'|trans }}</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
               autocomplete="email" required autofocus>

        <label for="inputPassword">{{ 'Password'|trans }}</label>
        <input type="password" name="password" id="inputPassword" class="form-control"
               autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <div class="button-group" role="group">
            <button class="success button" type="submit">
                {{ 'Sign in'|trans }}
            </button>
            <p>{{ 'or'|trans }}</p>
            <a href="{{ path('app_register') }}" class="primary button">{{ 'Register'|trans }}</a>
        </div>
    </form>
{% endif %}

{% endblock %}
