{% extends 'base.html.twig' %}

{% block title %}{{ 'Register'|trans }}{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
    <h1 class="title">{{ 'Register'|trans }}</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.fio) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'|trans
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Agree terms)'|trans
        }) }}

        <button type="submit" class="button primary">{{ 'Sign-up'|trans }}</button>
    {{ form_end(registrationForm) }}
    </div>
</section>
{% endblock %}
