{% extends 'base.html.twig' %}

{% block title %}{{ 'Question index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Question index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>TimeLimit</th>
                <th>Ord</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.content }}</td>
                <td>{{ question.timeLimit }}</td>
                <td>{{ question.ord }}</td>
                <td>
                    {{ include('components/_actions.html.twig', {
                        'action': 'list',
                        'entity': question,
                        'entityName': 'question'
                    }) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_TEACHER') or is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_question_new') }}">{{ 'Create new'|trans }}</a>
    {% endif %}
{% endblock %}
