{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>Question index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>TimeLimit</th>
                <th>Ord</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.content }}</td>
                <td>{{ question.timeLimit }}</td>
                <td>{{ question.ord }}</td>
                <td>
                    <a href="{{ path('app_question_show', {'id': question.id}) }}">show</a>
                    <a href="{{ path('app_question_edit', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_question_new') }}">Create new</a>
{% endblock %}
