{% extends 'base.html.twig' %}

{% block title %}{{ 'Question'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Question'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Content'|trans }}</th>
                <td>{{ question.content }}</td>
            </tr>
            <tr>
                <th>{{ 'TimeLimit'|trans }}</th>
                <td>{{ question.timeLimit }}</td>
            </tr>
            <tr>
                <th>{{ 'Ord'|trans }}</th>
                <td>{{ question.ord }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('components/_actions.html.twig', {
        'action': 'show',
        'entity': question,
        'entityName': 'question'
    }) }}

{% endblock %}
