{% extends 'base.html.twig' %}

{% block title %}{{ 'Exam index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Exam index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ '№'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for key, exam in exams %}
            <tr>
                <td>{{ key + 1 }}</td>
                <td>{{ exam.description }}</td>
                <td>
                    {{ include('components/_actions.html.twig', {
                        'action': 'list',
                        'entity': exam,
                        'entityName': 'exam'
                    }) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_TEACHER') or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_exam_new') }}">{{ 'Create new'|trans }}</a>
    {% endif %}
{% endblock %}
