{% extends 'base.html.twig' %}

{% block title %}{{ 'Exam'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Exam'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <td>{{ exam.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Description'|trans }}</th>
                <td>{{ exam.description }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('components/_actions.html.twig', {
        'action': 'show',
        'entity': exam,
        'entityName': 'exam'
    }) }}

    <table class="table">
        <caption>{{ 'Questions'|trans }}</caption>
        <thead>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <th>{{ 'Content'|trans }}</th>
            <th>{{ 'TimeLimit'|trans }}</th>
            <th>{{ 'Ord'|trans }}</th>
            <th>{{ 'actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for question in exam.getQuestions() %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.content }}</td>
                <td>{{ question.timeLimit }}</td>
                <td>{{ question.ord }}</td>
                <td>
                    {{ include('components/_actions.html.twig', {
                        'action': 'list',
                        'entity': question,
                        'entityName': 'question'
                    }) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_TEACHER') %}
        {{ include('components/_add_button.html.twig', {
            'params': {'exam': exam.id},
            'entityName': 'question'
        }) }}
    {% endif %}

    <table class="table">
        <caption>Сданные опросники</caption>
        <thead>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <th>{{ 'Students'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {{ app.user.id }}
        {% for sheet in exam.getExaminationSheetByStudentId(app.user.id) %}
            <tr>
                <td>{{ sheet.id }}</td>
                <td>{{ sheet.getStudent().getName() }}</td>
                <td>
                    <div class="control">
                        <a href="{{ path('app_examination_sheet_show', {'id': sheet.id}) }}" class="button">
                            {{ 'Show'|trans }}
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_answer_new', {'exam': exam.getId()}) }}" class="button success">
        {{ 'Begin'|trans }}
    </a>

{% endblock %}
