{% extends 'base.html.twig' %}

{% block title %}{{ 'ExaminationSheet'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'ExaminationSheet'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <td>{{ examination_sheet.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Student'|trans }}</th>
                <td>{{ examination_sheet.getStudent().getName() }}</td>
            </tr>
            <tr>
                <th>{{ 'Exam'|trans }}</th>
                <td>{{ examination_sheet.getExam().getDescription() }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <caption>{{ 'Question'|trans }}</caption>
        <thead>
        <tr>
            <th>{{ 'Question'|trans }}</th>
            <th>{{ 'Answer'|trans }}</th>
            <th>{{ 'Start'|trans }}</th>
            <th>{{ 'End'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for answer in examination_sheet.getAnswers() %}
            <tr>
                <td>{{ answer.getQuestion().getContent() }}</td>
                <td>{{ answer.getSqlText() }}</td>
                <td>{{ answer.getStart().format('d.m.Y H:i:s') }}</td>
                <td>{% if answer.getEnd() %}{{ answer.getEnd().format('d.m.Y H:i:s') }}{% endif %}</td>
                <td>
                    <div class="control">
                        <a href="{{ path('app_answer_show', {'id': answer.id}) }}" class="button">Show</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
