{% extends 'base.html.twig' %}

{% block title %}{{ 'ExaminationSheet'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'ExaminationSheet'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <td>{{ examination_sheet.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Student'|trans }}</th>
                <td>{{ examination_sheet.getStudent().getName() }}</td>
            </tr>
            <tr>
                <th>{{ 'Exam'|trans }}</th>
                <td>{{ examination_sheet.getExam().getDescription() }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_TEACHER') or is_granted('ROLE_ADMIN') %}
        {{ include('components/_actions.html.twig', {
            'action': 'show',
            'entity': examination_sheet,
            'entityName': 'examination_sheet'
        }) }}
    {% endif %}


    <table class="table">
        <caption>{{ 'Question'|trans }}</caption>
        <thead>
        <tr>
            <th>{{ 'Question'|trans }}</th>
            <th>{{ 'Ord'|trans }}</th>
            <th>{{ 'Answer'|trans }}</th>
            <th>{{ 'Start'|trans }}</th>
            <th>{{ 'End'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for answer in examination_sheet.getAnswers()|sort((answer, answerNext) => answer.getQuestion().ord <=> answerNext.getQuestion().ord) %}
            <tr>
                <td>{{ answer.getQuestion().getContent() }}</td>
                <td>{{ answer.getQuestion().ord }}</td>
                <td>{{ answer.getSqlText() }}</td>
                <td>{{ answer.getStart().format('d.m.Y H:i:s') }}</td>
                <td>{% if answer.getEnd() %}{{ answer.getEnd().format('d.m.Y H:i:s') }}{% endif %}</td>
                <td>
                    {{ include('components/_actions.html.twig', {
                        'action': 'list',
                        'entity': answer,
                        'entityName': 'answer'
                    }) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
