{% extends 'base.html.twig' %}

{% block title %}TestQuestion index{% endblock %}

{% block body %}
    <h1>TestQuestion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>RightVariantQty</th>
                <th>QuestionOrder</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test_question in test_questions %}
            <tr>
                <td>{{ test_question.id }}</td>
                <td>{{ test_question.question }}</td>
                <td>{{ test_question.rightVariantQty }}</td>
                <td>{{ test_question.questionOrder }}</td>
                <td>
                    <a href="{{ path('app_test_question_show', {'id': test_question.id}) }}">show</a>
                    <a href="{{ path('app_test_question_edit', {'id': test_question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_test_question_new') }}">Create new</a>
{% endblock %}
