{% extends 'base.html.twig' %}

{% block title %}TestQuestion{% endblock %}

{% block body %}
    <h1>TestQuestion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ test_question.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ test_question.question }}</td>
            </tr>
            <tr>
                <th>RightVariantQty</th>
                <td>{{ test_question.rightVariantQty }}</td>
            </tr>
            <tr>
                <th>QuestionOrder</th>
                <td>{{ test_question.questionOrder }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_test_question_index') }}">back to list</a>

    <a href="{{ path('app_test_question_edit', {'id': test_question.id}) }}">edit</a>

    {{ include('test_question/_delete_form.html.twig') }}
{% endblock %}
