{#
Ожидаются переменные:
 - action
 - entity
 - entityName
#}
<div class="actions">
    <div>
        {% if is_granted('ROLE_TEACHER') or is_granted('ROLE_ADMIN') %}
        <div class="button-group" role="group">
            {% if (action == 'new') %}
                <div class="control">
                    <button class="button is-primary">{{ 'Save'|trans }}</button>
                </div>
            {% endif %}

            {% if (action == 'edit') %}
                <div class="control">
                    <button class="button is-primary">{{ 'Update'|trans }}</button>
                </div>
            {% endif %}

            {% if (action != 'list') %}
                <a href="{{ path('app_' ~ entityName ~ '_index') }}" class="hollow button">
                    {{ 'Back to list'|trans }}
                </a>
            {% endif %}

            {% if (action != 'show' and action != 'new') %}
                <div class="control">
                    <a href="{{ path('app_' ~ entityName ~ '_show', {'id': entity.id}) }}" class="hollow button">
                        {{ 'Show'|trans }}
                    </a>
                </div>
            {% endif %}

            {% if (action != 'edit' and action != 'new') %}
                <div class="control">
                    <a href="{{ path('app_' ~ entityName ~ '_edit', {'id': entity.id}) }}" class="button">
                        {{ 'Edit'|trans }}
                    </a>
                </div>
            {% endif %}

            {% if (action != 'new') %}
                <div class="control">
                <form method="post" action="{{ path('app_' ~ entityName ~ '_delete', {'id': entity.id}) }}"
                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
                    <button class="alert button is-danger">{{ 'Delete'|trans }}</button>
                </form>
                </div>
            {% endif %}
        </div>
        {% else %}
        <div class="field has-addons" role="group">
            {% if (action != 'list') %}
                <a href="{{ path('app_' ~ entityName ~ '_index') }}" class="hollow button">
                    {{ 'Back to list'|trans }}
                </a>
            {% endif %}

            {% if (action != 'show' and action != 'new') %}
                <div class="control">
                    <a href="{{ path('app_' ~ entityName ~ '_show', {'id': entity.id}) }}" class="button">
                        {{ 'Show'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
