<div class="top-bar" style="margin-bottom: 2rem;">
    <div class="top-bar-left">
        <ul class="dropdown menu">
            <li class="menu-text">{{ 'SQL'|trans }}</li>
            <li>
                <a href="{{ path('app_exam_index') }}">{{ 'Exam list'|trans }}</a>
            </li>
            {% if is_granted('ROLE_TEACHER') %}
            <li>
                <a href="{{ path('app_answer_index') }}">{{ 'Students answers'|trans }}</a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('app_admin_index') }}">{{ 'Admin'|trans }}</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            {% if limit %}
                <li class="menu-text" style="position: relative">
                    <div class="callout timer-container" data-closable>
                        <div class="timer" data-limit="{{ limit }}"></div>
                        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
            <li class="menu-text">{{ app.user.email }}</li>
            <li><a href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a></li>
            {% endif %}
        </ul>
    </div>
</div>