{% extends 'base.html.twig' %}

{% block title %}{{ 'Right answers and student answers'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Right answers and student answers'|trans }}</h1>

    {% for sheet in sheets %}
        <p>{{ sheet.getStudent().getName() }}</p>
        <table class="table">
            <caption>{{ 'Examination Sheets'|trans }} {{ sheet.id }}</caption>
            <thead>
            <tr>
                <th>{{ 'Ord'|trans }}</th>
                <th>{{ 'Content'|trans }}</th>
                <th>{{ 'Right SqlText'|trans }}</th>
                <th>{{ 'Student SqlText'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for question in sheet.exam.questions|sort((q, qNext) => q.ord <=> qNext.ord) %}
                <tr>
                    <td>{{ question.ord }}</td>
                    <td>
                        <p>{{ question.content }}</p>
                        <hr/>
                        <div style="color: #999">
                            <div>{{ 'Question ID'|trans }}: {{ question.id }}</div>
                            <div>{{ 'Exam'|trans }}: {{ sheet.exam.description }}</div>
                        </div>
                    </td>
                    <td>
                        {% for rightAnswer in question.rightAnswers %}
                            <pre style="width: 400px">{{ rightAnswer.sqlText }}</pre>
                        {% else %}
                            {{ 'no records found'|trans }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for answer in sheet.answers %}
                            <pre style="width: 400px">{{ answer.sqlText }}</pre>
                        {% else %}
                            {{ 'no records found'|trans }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for rightAnswer in question.rightAnswers %}
                            {{ include('components/_actions.html.twig', {
                                'action': 'list',
                                'entity': rightAnswer,
                                'entityName': 'right_answer'
                            }) }}
                        {% else %}
                            {{ 'no records found'|trans }}
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{{ 'no records found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'No examination sheets'|trans }}</p>
    {% endfor %}
{% endblock %}
